@(message: String)
<html>
<head>
    <title>Physical - SSH</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="https://code.jquery.com/jquery-2.1.3.js" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("library/roomframework/dist/roomframework.js")" type="text/javascript"></script>
    <style>
        body{
            background:#2F7FFF;
        }
        .use{
            fill:#00FF00;
        }
        .free{
            fill: #4D4D4D;
        }
        rect[id^="port"]{
        transition: all 0.5s ease-in-out;
        }
        line{
            stroke-dasharray:1000;
            stroke-dashoffset:1000;
            transition: all 0.5s ease-in-out;
        }
        line.connect{
            stroke-dashoffset:0;
        }


    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-12">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
                             height="600px" viewBox="0 0 640 480" style="enable-background:new 0 0 640 480;" xml:space="preserve">
                        <g id="レイヤー_2">
                            <rect style="fill:#2F7FFF;" width="640" height="480"/>
                        </g>
                        <g id="レイヤー_1">
                            <rect x="26" y="40" style="fill:#91A6FF;" width="184" height="320"/>
                            <g>
                                <rect id="port0" class="free" x="196" y="52" width="19" height="30"/>
                                <rect id="port1" class="free" x="196" y="96" width="19" height="30"/>
                                <rect id="port2" class="free" x="196" y="141" width="19" height="30"/>
                                <rect id="port3" class="free" x="196" y="185" width="19" height="30"/>
                                <rect id="port4" class="free" x="196" y="230" width="19" height="30"/>
                                <rect id="port5" class="free" x="196" y="275" width="19" height="29"/>
                                <rect id="port6" class="free" x="196" y="319" width="19" height="29"/>
                            </g>
                            <g>
                                <path style="fill:#2E3192;" d="M44.686,195.842h7.49v2.783H33.731v-3.152c0-1.545,0.107-2.712,0.322-3.5
                                    c0.215-0.797,0.621-1.498,1.219-2.103c1.035-1.06,2.341-1.589,3.918-1.589c1.689,0,3.026,0.565,4.015,1.696
                                    c0.987,1.131,1.481,2.656,1.481,4.575V195.842z M42.105,195.842v-1.039c0-2.556-0.984-3.834-2.951-3.834
                                    c-1.903,0-2.855,1.318-2.855,3.953v0.92H42.105z"/>
                                <path style="fill:#2E3192;" d="M31.999,185.927v-2.688h9.509c-0.86-0.956-1.29-2.011-1.29-3.166c0-1.314,0.426-2.365,1.278-3.154
                                    c0.741-0.669,1.924-1.003,3.548-1.003h7.132v2.688h-6.881c-0.932,0-1.607,0.166-2.025,0.496c-0.418,0.331-0.627,0.862-0.627,1.595
                                    c0,0.94,0.29,1.601,0.872,1.983c0.589,0.375,1.601,0.562,3.034,0.562h5.626v2.688H31.999z"/>
                                <path style="fill:#2E3192;" d="M50.014,168.844l-9.474,5.232v-3.118l6.69-3.56l-6.69-3.321v-3.034l17.967,9.271v3.07
                                    L50.014,168.844z"/>
                                <path style="fill:#2E3192;" d="M42.523,152.454l1.183,2.222c-0.709,0.351-1.063,0.784-1.063,1.302
                                    c0,0.247,0.081,0.458,0.244,0.633c0.163,0.175,0.372,0.263,0.626,0.263c0.446,0,0.887-0.518,1.324-1.553
                                    c0.612-1.426,1.177-2.385,1.695-2.879c0.517-0.494,1.212-0.741,2.088-0.741c1.122,0,2.06,0.414,2.816,1.242
                                    c0.716,0.805,1.074,1.776,1.074,2.915c0,1.951-0.952,3.333-2.855,4.145l-1.063-2.293c0.557-0.318,0.912-0.562,1.063-0.729
                                    c0.302-0.327,0.454-0.717,0.454-1.171c0-0.908-0.415-1.362-1.243-1.362c-0.478,0-0.924,0.351-1.338,1.051
                                    c-0.135,0.271-0.267,0.542-0.394,0.812c-0.128,0.271-0.259,0.545-0.394,0.825c-0.382,0.78-0.765,1.33-1.147,1.648
                                    c-0.486,0.406-1.111,0.609-1.875,0.609c-1.012,0-1.848-0.347-2.509-1.04c-0.661-0.709-0.991-1.569-0.991-2.58
                                    C40.218,154.286,40.986,153.179,42.523,152.454z"/>
                                <path style="fill:#2E3192;" d="M35.702,149.694c-0.47,0-0.876-0.171-1.218-0.514s-0.514-0.752-0.514-1.23
                                    c0-0.485,0.171-0.9,0.514-1.242c0.334-0.342,0.745-0.514,1.23-0.514c0.485,0,0.9,0.171,1.242,0.514
                                    c0.342,0.334,0.514,0.745,0.514,1.23c0,0.485-0.171,0.9-0.514,1.242C36.614,149.523,36.196,149.694,35.702,149.694z
                                     M40.54,146.601h11.636v2.688H40.54V146.601z"/>
                                <path style="fill:#2E3192;" d="M41.042,134.141h3.572c-0.749,0.613-1.263,1.163-1.541,1.648c-0.287,0.478-0.43,1.04-0.43,1.685
                                    c0,1.011,0.354,1.852,1.063,2.521c0.708,0.669,1.596,1.003,2.664,1.003c1.091,0,1.987-0.322,2.688-0.968
                                    c0.701-0.653,1.051-1.485,1.051-2.497c0-0.645-0.14-1.214-0.418-1.708c-0.271-0.478-0.797-1.039-1.577-1.684h3.548
                                    c0.565,1.091,0.849,2.182,0.849,3.273c0,1.8-0.582,3.305-1.745,4.516c-1.171,1.21-2.625,1.815-4.36,1.815
                                    c-1.736,0-3.202-0.613-4.396-1.839c-1.194-1.227-1.792-2.732-1.792-4.516C40.218,136.243,40.492,135.16,41.042,134.141z"/>
                                <path style="fill:#2E3192;" d="M40.54,122.959v-2.7h11.636v2.7h-1.219c1.036,1.106,1.554,2.298,1.554,3.572
                                    c0,1.608-0.582,2.939-1.745,3.99c-1.187,1.043-2.668,1.565-4.444,1.565c-1.744,0-3.198-0.521-4.36-1.565
                                    c-1.163-1.044-1.744-2.35-1.744-3.918c0-1.354,0.557-2.568,1.672-3.644H40.54z M46.322,129.338c1.114,0,2.022-0.298,2.724-0.896
                                    c0.708-0.614,1.063-1.386,1.063-2.318c0-0.996-0.343-1.8-1.027-2.413c-0.709-0.613-1.609-0.92-2.7-0.92
                                    c-1.091,0-1.992,0.307-2.7,0.92c-0.693,0.613-1.04,1.41-1.04,2.389c0,0.924,0.35,1.696,1.051,2.318
                                    C44.402,129.032,45.279,129.338,46.322,129.338z"/>
                                <path style="fill:#2E3192;" d="M31.999,114.178h20.177v2.688H31.999V114.178z"/>
                                <path style="fill:#2E3192;" d="M45.092,104.92v-5.328h2.341v5.328H45.092z"/>
                                <path style="fill:#2E3192;" d="M36.466,79.403l1.338,2.258c-0.733,0.422-1.21,0.824-1.433,1.207
                                    c-0.255,0.398-0.382,0.912-0.382,1.541c0,0.772,0.219,1.414,0.657,1.923c0.43,0.51,0.973,0.765,1.626,0.765
                                    c0.9,0,1.625-0.669,2.175-2.007l0.753-1.84c0.606-1.498,1.345-2.592,2.217-3.285c0.873-0.693,1.943-1.04,3.21-1.04
                                    c1.698,0,3.101,0.566,4.208,1.696c1.116,1.139,1.674,2.553,1.674,4.241c0,1.601-0.477,2.922-1.429,3.966
                                    c-0.951,1.028-2.287,1.668-4.007,1.924l-0.621-2.819c1.083-0.127,1.831-0.351,2.246-0.669c0.796-0.574,1.195-1.41,1.195-2.509
                                    c0-0.868-0.291-1.589-0.872-2.163c-0.581-0.573-1.316-0.86-2.208-0.86c-0.358,0-0.687,0.049-0.986,0.149
                                    c-0.298,0.1-0.573,0.255-0.823,0.466s-0.486,0.484-0.705,0.818s-0.428,0.733-0.626,1.194l-0.74,1.78
                                    c-1.066,2.525-2.626,3.787-4.679,3.787c-1.385,0-2.543-0.53-3.474-1.589c-0.939-1.059-1.408-2.377-1.408-3.954
                                    C33.373,82.258,34.404,80.598,36.466,79.403z"/>
                                <path style="fill:#2E3192;" d="M36.466,65.139l1.338,2.258c-0.733,0.422-1.21,0.824-1.433,1.207
                                    c-0.255,0.398-0.382,0.912-0.382,1.541c0,0.772,0.219,1.414,0.657,1.923c0.43,0.509,0.973,0.765,1.626,0.765
                                    c0.9,0,1.625-0.669,2.175-2.007l0.753-1.839c0.606-1.498,1.345-2.592,2.217-3.285c0.873-0.693,1.943-1.04,3.21-1.04
                                    c1.698,0,3.101,0.565,4.208,1.696c1.116,1.139,1.674,2.552,1.674,4.241c0,1.601-0.477,2.922-1.429,3.966
                                    c-0.951,1.027-2.287,1.668-4.007,1.923l-0.621-2.819c1.083-0.127,1.831-0.351,2.246-0.669c0.796-0.573,1.195-1.41,1.195-2.509
                                    c0-0.868-0.291-1.589-0.872-2.162c-0.581-0.573-1.316-0.86-2.208-0.86c-0.358,0-0.687,0.05-0.986,0.149
                                    c-0.298,0.1-0.573,0.255-0.823,0.466c-0.25,0.211-0.486,0.484-0.705,0.818s-0.428,0.733-0.626,1.195l-0.74,1.78
                                    c-1.066,2.525-2.626,3.787-4.679,3.787c-1.385,0-2.543-0.53-3.474-1.589c-0.939-1.059-1.408-2.377-1.408-3.954
                                    C33.373,67.994,34.404,66.333,36.466,65.139z"/>
                                <path style="fill:#2E3192;" d="M40.946,58.521v-7.956h-7.215v-2.783h18.445v2.783h-8.613v7.956h8.613v2.784H33.731v-2.784H40.946z
                                    "/>
                            </g>
                            <text id="text0" transform="matrix(1 0 0 1 432.6133 70.5547)" style="fill:#FFFFFF; font-family:'Futura-Medium'; font-size:16;">user1 - (192.168)</text>
                            <text id="text1" transform="matrix(1 0 0 1 432.6133 114.4492)" style="fill:#FFFFFF; font-family:'Futura-Medium'; font-size:16;">user1 - (192.168)</text>
                            <text id="text2" transform="matrix(1 0 0 1 432.6133 158.3438)" style="fill:#FFFFFF; font-family:'Futura-Medium'; font-size:16;">user1 - (192.168)</text>
                            <text id="text3" transform="matrix(1 0 0 1 432.6133 202.2383)" style="fill:#FFFFFF; font-family:'Futura-Medium'; font-size:16;">user1 - (192.168)</text>
                            <text id="text4" transform="matrix(1 0 0 1 432.6133 246.1328)" style="fill:#FFFFFF; font-family:'Futura-Medium'; font-size:16;">user1 - (192.168)</text>
                            <text id="text5" transform="matrix(1 0 0 1 432.6133 290.0273)" style="fill:#FFFFFF; font-family:'Futura-Medium'; font-size:16;">user1 - (192.168)</text>
                            <text id="text6" transform="matrix(1 0 0 1 432.6133 333.9219)" style="fill:#FFFFFF; font-family:'Futura-Medium'; font-size:16;">user1 - (192.168)</text>

                            <line id="line0" style="fill:none;stroke:#FF5206;stroke-width:2;stroke-miterlimit:10;" x1="229" y1="68" x2="415" y2="68"/>
                            <line id="line1" style="fill:none;stroke:#FF5206;stroke-width:2;stroke-miterlimit:10;" x1="229" y1="111.5" x2="415" y2="111.5"/>
                            <line id="line2" style="fill:none;stroke:#FF5206;stroke-width:2;stroke-miterlimit:10;" x1="229" y1="156.5" x2="415" y2="156.5"/>
                            <line id="line3" style="fill:none;stroke:#FF5206;stroke-width:2;stroke-miterlimit:10;" x1="229" y1="200.5" x2="415" y2="200.5"/>
                            <line id="line4" style="fill:none;stroke:#FF5206;stroke-width:2;stroke-miterlimit:10;" x1="229" y1="240.5" x2="415" y2="240.5"/>
                            <line id="line5" style="fill:none;stroke:#FF5206;stroke-width:2;stroke-miterlimit:10;" x1="229" y1="289.5" x2="415" y2="289.5"/>
                            <line id="line6" style="fill:none;stroke:#FF5206;stroke-width:2;stroke-miterlimit:10;" x1="229" y1="333.5" x2="415" y2="333.5"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<p>message</p>-->

        <!--<p class="message"></p>-->
    </div>
</div>

</body>
<script>
    var baseTextTable = [-1, -1, -1, -1, -1];
    var baseTextPos = [
        {x2: "415", y2: "68"},
        {x2: "415", y2: "111.5"},
        {x2: "415", y2: "156.5"},
        {x2: "415", y2: "200.5"},
        {x2: "415", y2: "240.5"},
        {x2: "415", y2: "289.5"},
        {x2: "415", y2: "333.5"}
    ];
    $(function(){
        "use strict";
        window.ws = null;
        var pssh = {
            ws: null,
            $msgBox: $('.message'),
            init: function(){
                var self = this;
                self.ws = new room.Connection("ws://" + location.host + "/ws");
                self.ws.onMessage(function(d){
                    //self.$msgBox.append("<span>" +d.data + "</span>" + "<br>");
                    var wsData = JSON.parse(d.data);
                    var data = wsData.data;
                    //portUpdate


                    //portConnected
                    //{"command":"portConnected","type":"json","data":{"port":{"id":"0","name":"/dev/ttyUSB0"},"user":{"name":"tera"}}}
                    switch(wsData.command){
                        case "portConnected":
                            self.serialConnect(data.port, data.user);
                        break;
                        case "portDisconnect":
                            self.serialDisConnect(data.port);
                        break;
                        //{"command":"portUpdate","type":"json","data":{
                        //"port":[{"id":"0","name":"/dev/ttyUSB0","use":"true"},{"id":"1","name":"/dev/ttyUSB1","use":"false"}]
                        //,"user":[{"user":"tera","usePort":"0"}]}}
                        case "portUpdate":
                            self.updateSerialView(data.port, data.user);
                        break;
                    }

                });
                $('[id^="text"]').text("");
            },
            start: function(){
                var self = this;
                self.init();
                window.ws = self.ws;

            },
            portStatus: function(portNum, status){
                var port = $('#port'+portNum)[0];
                var cls = status ? "use" : "free";
                port.setAttribute('class', cls);
            },
            lineConnect: function(lineNum, pos){
                var line = $('#line' + lineNum)[0];
                line.setAttribute('class', 'connect');
                line.setAttribute('y2', pos.y2)
            },
            lineDisconnect: function(lineNum){
                var line = $('#line' + lineNum)[0];
                line.setAttribute('class', '');
            },
            textDraw: function(tableIndex, text){
                var textArea = $('#text'+tableIndex);
                textArea.text(text);
            },
            textClear: function(tableIndex){
                var textArea = $('#text'+tableIndex);
                textArea.text("");
                baseTextTable[baseTextTable.indexOf(tableIndex)] = -1;
            },
            /**
             * port : {id: "", name: "/dev/????"}
             * user : {name: "name"}
             */
            serialConnect: function(port, user){
                var self = this;
                var textAreaPos = baseTextTable.indexOf(-1);
                var text = port.name + "\t<--->\t"+user.name;
                baseTextTable[textAreaPos] = port.id;
                self.textDraw(textAreaPos, text);
                self.portStatus(port.id, true);
                self.lineConnect(port.id, baseTextPos[textAreaPos]);
            },
            serialDisConnect: function(port){
                var self = this;
                var textAreaPos = baseTextTable.indexOf(port.id);
                self.textClear(textAreaPos);
                self.lineDisconnect(port.id);
                self.portStatus(port.id, false);
            },
            updateSerialView: function(ports, users){
                var self = this;
                baseTextTable.filter(function(e, i, self){return self.indexOf(e) == self.lastIndexOf(e)});
                var usePorts = ports.filter(function(e){return e.use == "true";});
                usePorts.forEach(function(port, i){
                    if(baseTextTable.indexOf(port.id) == -1){
                        var user = users.filter(function(user){ return user.usePort == port.id});
                        if(user.length == 1){
                            self.serialConnect(port, user[0]);
                        }
                    }
                });

                var freePorts = ports.filter(function(e){return e.use == "false"});
                freePorts.forEach(function(port){
                    self.serialDisConnect(port);
                });
            }
        }
        pssh.start();
        window.pssh = pssh;
    });

</script>
</html>